html, body {
 
    height: 100%;
 
    margin: 0;
 
    font-family: "Courier New", Courier, monospace;
 
    color: white;
 
}

p {
    font-family: sans-serif;
    display: inline;
    padding: 15px;
}

@font-face {
    font-family: Upheav;
    src: url(../fonts/upheavtt.ttf);
}

body {  
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
} 
body.about {
    background-image: url(../Images/Background2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

 #logo { 
    margin-left: auto; 
 
    margin-right: auto; 
 
    display: block; 
 
    padding-top: 100px;
 
    padding-bottom: 50px;
 
} 
 
#homeLogo {
 
    padding-bottom: 30px;
 
    padding-top: 500px;
 
    width: 700px;
 
    height: auto;
 
}
 
#game {
    background-image: url(./images/Mockup.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
}
 
#header { 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
} 

#hidden { 
    display: none; 
} 

.in-line {
   display: inline-block;
   margin: auto;
}


.button {
  padding: 15px 25px;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: skyblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 30px;
  margin-left: 50px;
}

.button:hover {background-color: skyblue}

.button:active {
  background-color: skyblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#text {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 35px;
    text-align: left;
    padding-left: 20px;
}

p{ padding :40px;
    font-size: 45px;
    
}
p1 {
    font-size: 32px;  
    letter-spacing: 2px;
}

p2 {
    font-size: 32px;  
    letter-spacing: 1px;
}


#main-list {
    font-size: 40px;
}

input {
    color: black;
}

.aboutbtn {
    font-size: 40px;
}

.websitebutton {
    font-family: Upheav;
    color: white;
    margin-bottom: 30px;
    font-size: 60px;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 736px) {
    .aboutbtn {
        font-size: 25px;
    }
    
    #logo-counter {
        width: 45%;
        height: auto;
        padding-top: 15%;
    }
}


