html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
            
body {
    background-image: url(../Images/mountains.png), url("../Images/clouds.png"), url("../Images/gradient.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, repeat-x, no-repeat;
    -webkit-animation: animatebackground 60s linear infinite;
    animation: animatebackground 60s linear infinite;
}

@keyframes animatebackground {
    from {background-position: 0 0, 0 0, 0 0;}
    to {background-position: 0 0, -1000px 0, 0 0;}
}
@-webkit-keyframes animatebackground {
     from {background-position: 0 0, 0 0, 0 0;}
     to {background-position: 0 0, -1000px 0, 0 0;}
}

.btn:active, .btn:hover, .btn:focus {
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}

canvas {
    border: 2.5px solid;
    border-color: black;
    border-radius: 3px;
}

@font-face {
    font-family: Pixelate;
    src: url(../fonts/SFPixelate.ttf);
}

@font-face {
    font-family: Pixelate;
    src: url(../fonts/SFPixelate-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Upheav;
    src: url(../fonts/upheavtt.ttf);
}

/****************************************
            Character Creation
*****************************************/
#characterCreation {
    background-image: url(../Images/banner-Light.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 70px;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#leftCol {
    padding-right: 20px;
}

#leftCol > input {
    font-family: Pixelate;
    width: 150px;
    border: 0;
    padding: 7px;
    border-radius: 6px;
    vertical-align: middle;
}

.charCreationbtn {
    width: 75px;
    height: auto;
    margin-top: 10px;
}

#rightCol {
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
}

.option {
    margin-top: 30px;
    text-align: center;
}

.arrow {
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.inputTitle {
    color: white;
    font-family: Pixelate;
    margin-bottom: 5px;
    margin-top: 5px;
}

.optionTitle {
    color: white;
    font-family: Pixelate;
    display: inline;
    padding: 10px;
}

#charDisplayBanner {
    width: 100px;
    height: 150px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 736px) {
    #characterCreation {
        background-size: contain;
        width: 90%;
        height: 100%;
        border: 0;
        padding: 0;
        margin-top: 0;
    }
    
    #characterCreation > children {
        margin-top: 40%;
    }
    
    #rightCol {
        padding-left: 20px;
        height: 55%;
        text-align: center;
        vertical-align: middle;
        margin-top: 50%;
    }
    
    #leftCol {
        padding-right: 20px;
        height: 55%;
        margin-top: 50%;
    }

}