/******* GENERAL *******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(../Images/mountains.png), url("../Images/clouds.png"), url("../Images/gradient.png");
    background-size: cover, cover, cover;
    background-position: center, center, center;
    background-repeat: no-repeat, repeat-x, no-repeat;
    -webkit-animation: animatebackground 60s linear infinite;
    animation: animatebackground 60s linear infinite;
    text-align: center;
}

@keyframes animatebackground {
    from {background-position: 0 0, 0 0, 0 0;}
    to {background-position: 0 0, -1000px 0, 0 0;}
}
@-webkit-keyframes animatebackground {
     from {background-position: 0 0, 0 0, 0 0;}
     to {background-position: 0 0, -1000px 0, 0 0;}
}

/******* FONTS *******/

@font-face {
    font-family: Pixelate;
    src: url(../fonts/SFPixelate.ttf);
}

@font-face {
    font-family: Pixelate;
    src: url(../fonts/SFPixelate-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Upheav;
    src: url(../fonts/upheavtt.ttf);
}

canvas {
    border: 2px solid;
}

.btn:active, .btn:hover, .btn:focus {
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}

.bannerBtn {
    height: 10%;
    width: auto;
}

/******* SIGN UP *******/
.authentBanner {
    width: 450px;
    height: 450px;
    background-color: white;
    font-family: Pixelate;
    margin-left: auto;
    margin-right: auto;
    color: #133052;
    padding: 20px;
    margin-top: 5%;
}

.bannerInput, .bannerInput:focus {
    border: 0;
    border-bottom: 1px solid #dddcdc;
    padding: 15px;
    background-color: transparent;
    width: 300px;
    margin: 10px;
    font-family: Pixelate;
    color: #767676;
}

.title {
    margin-top: 5px;
    font-size: 40px;
    padding: 15px;
    margin-bottom: 10px;
}

.inputLabel {
    font-size: 15px;
    padding: 7px;
}

.authentBtn {
    margin-top: 4px;
    width: 10%;
}

/******* LOGIN *******/

/******* MEDIA QUERIES *******/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    .logo {
        width: 60%;
        margin-top: 30%;
        margin-bottom: 2.5%;
    }
    
    .indexBtn {
        width: 35%;
    }
    
    .banner {
        height: 75%;
        width: auto;
        padding-top: 20%;
        padding-bottom: .5%;
    }
    
    .signUp {
        width: 200px;
        height: 200px;
        padding-top: 25%;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 501px) {
    .logo {
        width: 60%;
        margin-top: 25%;
        margin-bottom: 2.5%;
    }
    
    .indexBtn {
        width: 25%;
    }
    
    .banner {
        height: 85%;
        width: auto;
        padding-top: 15%;
        padding-bottom: .5%;
    }
    
    .signUp {
        width: 5000px;
        height: 5000px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo {
        width: 50%;
        margin-top: 16%;
        margin-bottom: 2.5%;
    }
    .indexBtn {
        width: 25%;
    }
    
    .banner {
        height: 85%;
        width: auto;
        padding-top: 7%;
        padding-bottom: .5%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo {
        width: 40%;
        margin-top: 12%;
        margin-bottom: 2.5%;
    }
    
    .indexBtn {
        width: 17%;
    }
    
    .banner {
        height: 86%;
        width: auto;
        padding-top: 7%;
        padding-bottom: .5%;
    }
    
    .signUp {
        width: 500px;
        height: 500px;
        padding: 20px;
        margin-top: 15%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo {
        width: 35%;
        margin-top: 7.5%;
        margin-bottom: 2.5%;
    }
    
    .banner {
        height: 86%;
        width: auto;
        padding-top: 7%;
        padding-bottom: .5%;
    }
    
    .signUp {
        width: 450px;
        height: 450px;
        padding: 20px;
        margin-top: 10%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .logo {
        width: 25%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
    
    .indexBtn {
        width: 11%;
    }
    
    .banner {
        height: 86%;
        width: auto;
        padding-top: 4%;
        padding-bottom: .5%;
    }
    
    .signUp {
        width: 450px;
        height: 450px;
        padding: 20px;
        margin-top: 5%;
    }
    
}