/******* GENERAL *******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(../Images/mountains.png), url("../Images/clouds.png"), url("../Images/gradient.png");
    background-size: cover, cover, cover;
    background-position: center, center, center;
    background-repeat: no-repeat, repeat-x, no-repeat;
    -webkit-animation: animatebackground 60s linear infinite;
    animation: animatebackground 60s linear infinite;
    text-align: center;
}

@keyframes animatebackground {
    from {background-position: 0 0, 0 0, 0 0;}
    to {background-position: 0 0, -1000px 0, 0 0;}
}
@-webkit-keyframes animatebackground {
     from {background-position: 0 0, 0 0, 0 0;}
     to {background-position: 0 0, -1000px 0, 0 0;}
}

/******* FONTS *******/

@font-face {
    font-family: Pixelate;
    src: url(../fonts/SFPixelate.ttf);
}

@font-face {
    font-family: Pixelate;
    src: url(../fonts/SFPixelate-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Upheav;
    src: url(../fonts/upheavtt.ttf);
}

canvas {
    border: 2px solid;
}

.btn:active, .btn:hover, .btn:focus {
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}

.bannerBtn {
    height: 10%;
    width: auto;
}

/******* SIGN UP *******/
.authentBanner {
    width: 450px;
    height: 450px;
    background-color: white;
    font-family: Pixelate;
    margin-left: auto;
    margin-right: auto;
    color: #133052;
    padding: 20px;
    margin-top: 5%;
}

.bannerInput, .bannerInput:focus {
    border: 0;
    border-bottom: 1px solid #dddcdc;
    padding: 15px;
    background-color: transparent;
    width: 300px;
    margin: 10px;
    font-family: Pixelate;
    color: #767676;
}

.title {
    margin-top: 5px;
    font-size: 40px;
    padding: 15px;
    margin-bottom: 10px;
}

.titleLogin {
    margin-bottom: 2.5px;
    display: inline-block;
    color: lightgrey;
}

.name {
    display: inline-block;
    font-size: 30px;
}

.inputLabel {
    font-size: 15px;
    padding: 7px;
}

.loginEmail {
    display: inline-block;
}

#loginCharDisplay {
    visibility: hidden;
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

#loginBtns {
    visibility: hidden;
}

.tutorial {
    height: 100%;
    width: auto;
}

#tut2, #tut3, #tut4, #tut5, #tut6 {
    display: none;
}

/******* MEDIA QUERIES *******/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    .logo {
        width: 55%;
        margin-top: 16%;
        margin-bottom: 2.5%;
    }
    
    .indexBtn {
        width: 30%;
    }
    
    .banner {
        height: 75%;
        width: auto;
        padding-top: 20%;
        padding-bottom: .5%;
    }
    
    .authentBanner {
        width: 305px;
        height: 375px;
        padding: 20px;
        margin-top: 30%;
    }
    
    .authentBtn {
        margin-top: 4px;
        width: 110px;
    }
    
    .title {
        margin-top: 5px;
        font-size: 20px;
        padding: 15px;
        margin-bottom: 10px;
    }

    .inputLabel {
        font-size: 17px;
        padding: 3px;
    }
    
    .bannerInput, .bannerInput:focus {
        padding: 15px;
        width: 200px;
        margin: 5px;
    }
    
    .name {
        display: inline-block;
        font-size: 25px;
    }
    
    .titleLogin {
        font-size: 30px;
        margin: 0;
    }
    
    .loginEmail {
        font-size: 15px;
    }
    
    .loginBtn {
        width: 41%;
    }
    
    #loginCharDisplay {
        width: 175px;
        height: 175px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    
    .indexBtnSmall {
        width: 17%;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 501px) {
    .logo {
        width: 50%;
        margin-top: 15%;
        margin-bottom: 2.5%;
    }
    
    .indexBtn {
        width: 25%;
    }
    
    .banner {
        height: 85%;
        width: auto;
        padding-top: 15%;
        padding-bottom: .5%;
    }
    
    .authentBanner {
        width: 450px;
        height: 450px;
        padding: 20px;
        margin-top: 17%;
    }
    
    .authentBtn {
        margin-top: 4px;
        width: 25%;
    }
    
    .loginBtn {
        width: 33%;
    }
    
    #loginCharDisplay {
        width: 225px;
        height: 225px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .indexBtnSmall {
        width: 12%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo {
        width: 45%;
        margin-top: 8%;
        margin-bottom: 2.5%;
    }
    .indexBtn {
        width: 20%;
    }
    
    .banner {
        height: 85%;
        width: auto;
        padding-top: 7%;
        padding-bottom: .5%;
    }
    
    .authentBanner {
        width: 450px;
        height: 450px;
        padding: 20px;
        margin-top: 17%;
    }
    
    .authentBtn {
        margin-top: 4px;
        width: 20%;
    }
    
    .loginBtn {
        width: 33%;
    }
    
     #loginCharDisplay {
        width: 225px;
        height: 225px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .indexBtnSmall {
        width: 9%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo {
        width: 35%;
        margin-top: 4.5%;
        margin-bottom: 2.5%;
    }
    
    .indexBtn {
        width: 16%;
    }
    
    .banner {
        height: 86%;
        width: auto;
        padding-top: 7%;
        padding-bottom: .5%;
    }
    
    .authentBanner {
        width: 500px;
        height: 500px;
        padding: 20px;
        margin-top: 10%;
    }
    
    .authentBtn {
        margin-top: 4px;
        width: 19%;
    }
    
    .loginBtn {
        width: 33%;
    }
    
    #loginCharDisplay {
        width: 250px;
        height: 250px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .indexBtnSmall {
        width: 7%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo {
        width: 25%;
        margin-top: 10%;
        margin-bottom: 2.5%;
    }
    
    .indexBtn {
        width: 11%;
    }
    
    .banner {
        height: 86%;
        width: auto;
        padding-top: 7%;
        padding-bottom: .5%;
    }
    
    .authentBanner {
        width: 450px;
        height: 450px;
        padding: 20px;
        margin-top: 10%;
    }
    
    .authentBtn {
        margin-top: 4px;
        width: 15%;
    }
    
    .loginBtn {
        width: 37%;
    }
    
    #loginCharDisplay {
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .indexBtnSmall {
        width: 5%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .logo {
        width: 22%;
        margin-top: 2.5%;
        margin-bottom: 1.5%;
    }
    
    .indexBtn {
        width: 9%;
    }
    
    .banner {
        height: 86%;
        width: auto;
        padding-top: 4%;
        padding-bottom: .5%;
    }
    
    .authentBanner {
        width: 450px;
        height: 450px;
        padding: 20px;
        margin-top: 5%;
    }
    
    .authentBtn {
        margin-top: 4px;
        width: 10%;
    }
    
    .loginCharDisplay {
        width: 200px;
        height: 200px;
        background-color: lightgrey;
    }
    
    .loginBtn {
        width: 30%;
    }
    
    .indexBtnSmall {
        width: 4%;
    }
    
}